# Copyright 2022 Canonical Ltd.
# See LICENSE file for licensing details.
name: Tests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.md'
      - 'terraform/**'
      - '.gitignore'
  schedule:
    - cron: '53 0 * * *'  # Daily at 00:53 UTC
  # Triggered on push to branch "main" by .github/workflows/release.yaml
  workflow_call:
    outputs:
      artifact-prefix:
        description: build_charm.yaml `artifact-prefix` output
        value: ${{ jobs.build.outputs.artifact-prefix }}

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install tox
        run: pipx install tox
      - name: Run linters
        run: tox run -e lint

  unit-test:
    name: Unit tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install tox
        run: pipx install tox
      - name: Run tests
        run: tox run -e unit

  build:
    strategy:
      matrix:
        path:
          - .
          - tests/integration/app-charm
    name: Build charm | ${{ matrix.path }}
    uses: canonical/data-platform-workflows/.github/workflows/build_charm.yaml@v32.2.2
    with:
      path-to-charm-directory: ${{ matrix.path }}
      # FIXME: re-enable after re-added to ccc
      cache: false

  integration-test-single:
    strategy:
      fail-fast: false
      matrix:
        tox-environments:
          - integration-auto-balance
          - integration-charm
          - integration-provider
          - integration-provider-v1
          - integration-password-rotation
          - integration-tls
          - integration-refresh
          - integration-tls-complex
          - integration-kraft
          - integration-kraft-tls
          - integration-ha
          - integration-spaces
          - integration-terraform
        kraft-mode:
          - single
    name: "${{ matrix.tox-environments }} | ${{ matrix.kraft-mode }}"
    needs:
      - lint
      - unit-test
      - build
    runs-on: [self-hosted, linux, AMD64, X64, large, noble]
    timeout-minutes: 120
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: lxd
          juju-channel: 3.6/stable
      - name: Download packed charm(s)
        uses: actions/download-artifact@v4
        with:
          pattern: ${{ needs.build.outputs.artifact-prefix }}-*
          merge-multiple: true
      - name: Setup terraform if needed
        if: ${{ matrix.tox-environments == 'integration-terraform' }}
        run: |
          sudo snap install --classic terraform
      - name: Select tests
        id: select-tests
        run: |
          if [ "${{ github.event_name }}" == "schedule" ]
          then
            echo Running unstable and stable tests
            echo "mark_expression=" >> $GITHUB_OUTPUT
          else
            echo Skipping unstable tests
            echo "mark_expression=not unstable" >> $GITHUB_OUTPUT
          fi
      - name: Run integration tests
        run: tox run -e ${{ matrix.tox-environments }} -- -m '${{ steps.select-tests.outputs.mark_expression }}' --kraft-mode ${{ matrix.kraft-mode }}
        env:
          CI_PACKED_CHARMS: ${{ needs.build.outputs.charms }}

  integration-test-multi:
    strategy:
      fail-fast: false
      matrix:
        tox-environments:
          - integration-auto-balance
          - integration-charm
          - integration-provider
          - integration-provider-v1
          - integration-password-rotation
          - integration-tls
          - integration-refresh
          - integration-tls-complex
          - integration-balancer-broker
          - integration-balancer-controller
          - integration-kraft
          - integration-kraft-tls
          - integration-ha
          - integration-ha-controller
          - integration-spaces
          - integration-oauth
        kraft-mode:
          - multi
    name: "${{ matrix.tox-environments }} | ${{ matrix.kraft-mode }}"
    needs:
      - lint
      - unit-test
      - build
    runs-on: [self-hosted, linux, AMD64, X64, xlarge, noble]
    timeout-minutes: 120
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: lxd
          juju-channel: 3.6/stable
      - name: Download packed charm(s)
        uses: actions/download-artifact@v4
        with:
          pattern: ${{ needs.build.outputs.artifact-prefix }}-*
          merge-multiple: true
      - name: Setup terraform & microk8s controller (for OAuth tests)
        if: ${{ matrix.tox-environments == 'integration-oauth' }}
        run: |
          LXD_CONTROLLER=$(juju models --format json | jq -r '.models[0]."controller-name"')
          sudo snap install --classic terraform

          # calico has issues with strict confinements, so remove -strict
          sudo snap install microk8s --channel 1.32 --classic

          sudo usermod -a -G microk8s $USER
          mkdir -p ~/.kube
          chmod 0700 ~/.kube

          sudo tee /var/snap/microk8s/current/args/certs.d/docker.io/hosts.toml << EOF
          server = "$DOCKERHUB_MIRROR"
          [host."${DOCKERHUB_MIRROR#'https://'}"]
          capabilities = ["pull", "resolve"]
          EOF

          sudo microk8s stop
          sudo microk8s start

          # make juju work with microk8s --classic
          sudo mkdir -p /var/snap/juju/current/microk8s/credentials
          sudo microk8s config | sudo tee /var/snap/juju/current/microk8s/credentials/client.config
          sudo chown -R $USER:$USER /var/snap/juju/current/microk8s/credentials

          IP_ADDR=$(ip -4 -j route get 2.2.2.2 | jq -r '.[] | .prefsrc')
          sudo microk8s enable dns
          sudo microk8s enable hostpath-storage
          sudo microk8s enable metallb:$IP_ADDR-$IP_ADDR

          juju bootstrap microk8s
          juju switch $LXD_CONTROLLER

      - name: Select tests
        id: select-tests
        run: |
          if [ "${{ github.event_name }}" == "schedule" ]
          then
            echo Running unstable and stable tests
            echo "mark_expression=" >> $GITHUB_OUTPUT
          else
            echo Skipping unstable tests
            echo "mark_expression=not unstable" >> $GITHUB_OUTPUT
          fi
      - name: Run integration tests
        run: tox run -e ${{ matrix.tox-environments }} -- -m '${{ steps.select-tests.outputs.mark_expression }}' --keep-models --kraft-mode ${{ matrix.kraft-mode }}
        env:
          CI_PACKED_CHARMS: ${{ needs.build.outputs.charms }}

